<body class="default home">
    <section class="row">
    <div class="page_contact row m0">
        <div class="row contact_form m0 contentRow">
            <div class="container">
                <div class="row">
                    <div class="row m0 title_row">
                        <h2>Let's Talk Business</h2>
                        <h5>Tell us about your project ideas or <span>just say hello.</span></h5>
                    </div>
                    <div class="formArea row m0">
                        <form action="http://premiumlayers.net/demo/html/seowave/contact_process.php" class="row m0 contact_form" id="contactForm">
                            <div class="col-sm-6">
                                <div class="row m0">
                                    <label for="contact_name">Name <span>*</span></label>
                                    <input type="text" class="form-control" name="contact_name" id="contact_name" required>
                                </div>
                                <div class="row m0">
                                    <label for="contact_phone">Phone</label>
                                    <input type="tel" class="form-control" name="contact_phone" id="contact_phone">
                                </div>
                                <div class="row m0">
                                    <label for="monthly_badget">Monthly Budget</label>
                                    <select name="monthly_badget" id="monthly_badget" class="selectpicker form-control">
                                        <option value="0" disabled selected>-(Monthly Budget)-</option>
                                        <option value="200">200 USD</option>
                                        <option value="300">300 USD</option>
                                        <option value="400">400 USD</option>
                                        <option value="500">500 USD</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row m0">
                                    <label for="contact_email">Email <span>*</span></label>
                                    <input type="email" class="form-control" name="contact_email" id="contact_email" required>
                                </div>
                                <div class="row m0">
                                    <label for="contact_url">Website <span>*</span></label>
                                    <input type="url" class="form-control" name="contact_url" id="contact_url" required>
                                </div>
                                <div class="row m0">
                                    <label for="learn_seowave">How did you learn about SEOWAVE</label>
                                    <select name="learn_seowave" id="learn_seowave" class="selectpicker form-control">
                                        <option value="0" disabled selected>-(Select)-</option>
                                        <option value="google">Google Search</option>
                                        <option value="yahoo">Yahoo Search</option>
                                        <option value="blog">Blog</option>
                                        <option value="forum">Forum</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="row m0">
                                    <label for="interested_in">Which services are you interested in?</label>
                                    <select name="interested_in" id="interested_in" class="selectpicker form-control">
                                        <option value="off_page">Off Page Optimization</option>
                                        <option value="on_page">On Page Optimization</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="row m0">
                                    <label for="addInfos">Additional Information</label>
                                    <textarea name="addInfos" id="addInfos" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-12 text-center">
                                <button class="borderred_link" type="submit"><span>submit details!</span></button>
                            </div>
                        </form>
                        <div id="success">
                            <span class="green textcenter">
                                Your message was sent successfully! I will be in touch as soon as I can.
                            </span>
                        </div>
                        <div id="error">
                            <span>
                                Something went wrong, try refreshing and submitting the form again.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!--Contact Form-->
        <div class="row contact_details m0 text-center">
            <div class="col-sm-3 contact_widgets">
                <div class="row icon_row">
                    <%= image_tag("contact/1.png", alt: "") %>
                </div>
                <h4>Working hours</h4>
                <p>(Mon to Sat): 10.00 AM to 07.00 PM <br> (Sunday): Holiday</p>
            </div>
            <div class="col-sm-3 contact_widgets">
                <div class="row icon_row">
                    <%= image_tag("contact/2.png", alt: "") %>
                </div>
                <h4>Address</h4>
                <p>14 New Digital Street, 25 North Corne, <br> Sydney, Australia-1</p>
            </div>
            <div class="col-sm-3 contact_widgets">
                <div class="row icon_row">
                    <%= image_tag("contact/3.png", alt: "") %>
                </div>
                <h4>Contact Details</h4>
                <p><span>Phone :</span> +(61) 123 456 7890 <br> <span>Support:</span> Example@domain.com</p>
            </div>
            <div class="col-sm-3 contact_widgets">
                <div class="row icon_row">
                    <%= image_tag("contact/4.png", alt: "") %>
                </div>
                <h4>Join US</h4>
                <p>We Givbe you Opportunity to work join with us</p>
                <P> exapmle@gmail.com</P>

            </div>
        </div>
        <div class="row  m0"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13602.421340623023!2d74.3467841!3d31.5349979!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x50e89ba5e8d171ed!2sLandmark+Plaza!5e0!3m2!1sen!2s!4v1515037213471" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div>
    </div>
</section>
    <!--Mailchimp-->
    <script src='../../../../s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
    <script>
        (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FNAME';ftypes[1]='text';fnames[0]='EMAIL';ftypes[0]='email';fnames[2]='MMERGE2';ftypes[2]='url';}(jQuery));var $mcj = jQuery.noConflict(true)
    </script>
</body>
