<body class="default home">
<section class="row">
    <div class="row m0 contentRow offer_service">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2>We Offer a Full Range of Digital <br class="hidden-xs">Marketing Services!</h2>
                    <p>Consect adipo sci velit, sed quia non numquam eius modi temora incidlabore etum dolore tha magnam aliquam quaerat voluptatem. </p>
                    <ul class="nav">
                        <li><img src="images/icons/about/4.png" alt="">We deliver Top Rankings.</li>
                        <li><img src="images/icons/about/5.png" alt="">High customer retention rate.</li>
                        <li><img src="images/icons/about/6.png" alt="">We always return e-mails and calls within one business day.</li>
                        <li><img src="images/icons/about/7.png" alt="">Afordable pricing offers.</li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <div class="owl-carousel offer_service_carousel">
                        <div class="item"><img src="images/about/1.png" alt=""></div>
                        <div class="item"><img src="images/about/1.png" alt=""></div>
                        <div class="item"><img src="images/about/1.png" alt=""></div>
                        <div class="item"><img src="images/about/1.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row m0 contentRow about_company">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <img src="images/about/2.jpg" alt="" class="img-responsive">
                </div>
                <div class="col-sm-6">
                    <h2>About Our Company</h2>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <span class="icon"><img src="images/icons/about/1.png" alt=""></span>
                                        Awards &amp; Recognition
                                        <span class="sign"></span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consect adipo sci velit, sed quia non numquam eius modi temora incidlabore etum dolore tha magnam aliquam quaerat voluptatem. Ut enim ad minima venia quius nostrum sak exercitationem ullam corporis suscipit. laboriosam, nisi ut aliquid ex ea commodi consequatur
                                </div>
                            </div>
                        </div> <!--Panel-->
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <span class="icon"><img src="images/icons/about/2.png" alt=""></span>
                                        Our company History
                                        <span class="sign"></span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consect adipo sci velit, sed quia non numquam eius modi temora incidlabore etum dolore tha magnam aliquam quaerat voluptatem. Ut enim ad minima venia quius nostrum sak exercitationem ullam corporis suscipit. laboriosam, nisi ut aliquid ex ea commodi consequatur
                                </div>
                            </div>
                        </div> <!--Panel-->
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        <span class="icon"><img src="images/icons/about/1.png" alt=""></span>
                                        seowave future plan
                                        <span class="sign"></span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">
                                    Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consect adipo sci velit, sed quia non numquam eius modi temora incidlabore etum dolore tha magnam aliquam quaerat voluptatem. Ut enim ad minima venia quius nostrum sak exercitationem ullam corporis suscipit. laboriosam, nisi ut aliquid ex ea commodi consequatur
                                </div>
                            </div>
                        </div> <!--Panel-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row m0 funfacts_ab">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 fact">
                    <div class="row">
                        <h3><span class="counter">98</span>%</h3>
                        <h5>Client retention</h5>
                    </div>
                </div> <!--Fact-->
                <div class="col-sm-3 fact">
                    <div class="row">
                        <h3><span class="counter">12</span></h3>
                        <h5>years of service</h5>
                    </div>
                </div> <!--Fact-->
                <div class="col-sm-3 fact">
                    <div class="row">
                        <h3><span class="counter">350</span>+</h3>
                        <h5>professionals</h5>
                    </div>
                </div> <!--Fact-->
                <div class="col-sm-3 fact">
                    <div class="row">
                        <h3><span class="counter">4000</span>+</h3>
                        <h5>satisfied clients</h5>
                    </div>
                </div> <!--Fact-->
            </div>
        </div>
    </div>
    <div class="row m0 team_members contentRow">
        <div class="container">
            <div class="row">
                <div class="row m0 title_row">
                    <h2>Clever Team Members</h2>
                    <h5>voluptatem accusantium doloremque laudantium totam aperiam</h5>
                </div>
                <div class="row m0">
                    <div class="col-sm-4 team">
                        <div class="inner row">
                            <div class="row m0 img"><img src="images/about/team/1.jpg" alt=""></div>
                            <ul class="nav social_lis">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                            <div class="row identity m0">
                                <h5 class="name">San Michle</h5>
                                <h5 class="pos">Cheif Technology officer</h5>
                            </div>
                        </div>
                    </div> <!--Team-->
                    <div class="col-sm-4 team">
                        <div class="inner row">
                            <div class="row m0 img"><img src="images/about/team/2.jpg" alt=""></div>
                            <ul class="nav social_lis">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                            <div class="row identity m0">
                                <h5 class="name">San Michle</h5>
                                <h5 class="pos">Cheif Technology officer</h5>
                            </div>
                        </div>
                    </div> <!--Team-->
                    <div class="col-sm-4 team">
                        <div class="inner row">
                            <div class="row m0 img"><img src="images/about/team/3.jpg" alt=""></div>
                            <ul class="nav social_lis">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                            <div class="row identity m0">
                                <h5 class="name">San Michle</h5>
                                <h5 class="pos">Cheif Technology officer</h5>
                            </div>
                        </div>
                    </div> <!--Team-->
                </div>
            </div>
        </div>
    </div>
    <div class="row m0 our_clients">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="row m0">
                        <h2>Our Clients</h2>
                        <p>Eaque ipsa quae ab illo inventore veritati quasi.</p>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="owl-carousel clients_carousel">
                            <div class="item"><img src="images/about/clients/1.png" alt=""></div>
                            <div class="item"><img src="images/about/clients/2.png" alt=""></div>
                            <div class="item"><img src="images/about/clients/3.png" alt=""></div>
                            <div class="item"><img src="images/about/clients/4.png" alt=""></div>
                            <div class="item"><img src="images/about/clients/1.png" alt=""></div>
                            <div class="item"><img src="images/about/clients/2.png" alt=""></div>
                            <div class="item"><img src="images/about/clients/3.png" alt=""></div>
                            <div class="item"><img src="images/about/clients/4.png" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row m0 testimonials contentRow">
        <div class="container">
            <div class="row">
                <div class="row m0 title_row">
                    <h2>Why Clients Love Us</h2>
                    <h5>voluptatem accusantium doloremque laudantium totam aperiam</h5>
                </div>
                <div class="row m0">
                    <div class="col-sm-6 testimonial">
                        <div class="media">
                            <div class="media-left">
                                <a href="#"><img src="images/about/clients/c1.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <div class="inner row m0">
                                    <div class="blockquote">Laudantium, totam rem aperi, eaque ipsa quaea ab illo invente veritatis et quasi architecto sach beatae vitae dicta sunt explicab.</div>
                                    <div class="row m0 review">
                                        <i class="fa fa-star-o starred"></i>
                                        <i class="fa fa-star-o starred"></i>
                                        <i class="fa fa-star-o starred"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <div class="row m0 identity">Auro Navanth <span class="pos">(CEO of Clsscio)</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 testimonial">
                        <div class="media">
                            <div class="media-left">
                                <a href="#"><img src="images/about/clients/c2.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <div class="inner row m0">
                                    <div class="blockquote">Laudantium, totam rem aperi, eaque ipsa quaea ab illo invente veritatis et quasi architecto sach beatae vitae dicta sunt explicab.</div>
                                    <div class="row m0 review">
                                        <i class="fa fa-star-o starred"></i>
                                        <i class="fa fa-star-o starred"></i>
                                        <i class="fa fa-star-o starred"></i>
                                        <i class="fa fa-star-o starred"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <div class="row m0 identity">steaven Amith <span class="pos">(Co founder of Aft)</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <!--Mailchimp-->
    <script src='../../../../s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
    <script>
        (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FNAME';ftypes[1]='text';fnames[0]='EMAIL';ftypes[0]='email';fnames[2]='MMERGE2';ftypes[2]='url';}(jQuery));var $mcj = jQuery.noConflict(true)
    </script>
</body>
