<footer class="row">
  <div class="row m0 top_footer">
    <div class="container">
      <div class="row footer_widgets">
        <div class="col-sm-4 footer_widget">
          <div class="row m0">
            <h4 class="title">About Company</h4>
            <div class="row m0 body">
              <p>Aoluptas sit aspernatur aut odit aut fugit, sed quias consequuntur magni dolores eos qui ratione volust  luptatem sequi nesciunt. Neque porro quisquam est qui dolorem ipsum quiala.</p><br>
              <ul class="nav socials">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-rss"></i></a></li>
              </ul>
            </div>
          </div>
        </div> <!--Single widget-->
        <div class="col-sm-4 footer_widget">
          <div class="row m0">
            <h4 class="title">Pages</h4>
            <div class="row m0 body">
              <ul class="list-unstyled links">
                <li class="fa fa-caret-right"> <a href="index.html">Home</a></li>
                <li class="fa fa-caret-right"><a href="about.html">About</a></li>
                <li class="fa fa-caret-right"> <a href="services.html">Services</a></li>
                <li class="fa fa-caret-right"><a href="package-details.html">Packages</a></li>
                <li class="fa fa-caret-right"><a href="pricing.html">Pricing</a></li>
                <li class="fa fa-caret-right"><a href="contact.html">Contact</a> </li>
              </ul>
            </div>
          </div>
        </div> <!--Single widget-->
        <div class="col-sm-4 footer_widget">
          <div class="row m0">
            <div class="row m0 body">
              <!-- Begin MailChimp Signup Form -->
              <div id="mc_embed_signup" class="row m0">

              </div>
              <!--End mc_embed_signup-->
            </div>
          </div>
        </div> <!--Single widget-->
      </div>
      <div class="row footer_widgets2 m0">
        <ul class="nav nav-justified">
          <li>
            <a href="#">
               <%= image_tag("icons/footer/call.png", alt: "") %>
               <strong>Call</strong>: +(61) 123 456 7890
            </a>
          </li>
          <li>
            <a href="#">
               <%= image_tag("icons/footer/mail.png", alt: "") %>
               <strong>Email</strong>: Example@domain.com
            </a>
          </li>
          <li>
            <a href="#">
               <%= image_tag("icons/footer/fax.png", alt: "") %>
               <strong>Fax</strong>: +(61) 123 456 7890
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row copyright m0">Copyright © 2018 <a href="#">PingTecnologies</a>. All Rights Reserved.</div>
</footer>
